
body {
background: #e1eafc;
}

.left{
 float: left;
}

.right {
float: right;
}

.clear {
    clear: both;
}

.green {
    color: #3d750b;
}

.red {
    color: #f34343;
}

.orange {
    color: #f7ae46;
}

.server-holder {
    width: 800px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #c5dcff;
    margin: auto;
    height: 100%;
}


.server {
   border: 1p dashed black;
   width: 150px;
   margin: 0px 5px 0px 5px;
   height: 250px;
}

.icon, .role {
    text-align: center;
}

.address, .state, .usage, .users, .games {
    width: 150px;
    padding-left: 5px;
}

.address {
    text-align: center;
    margin-bottom: